<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  {% block head %}{% endblock %}
  </head>

  <body class="{{ bodyClass }}" >
    {% include "components/header.njk" %}
    {% block content %}
      <p>Not Found</p>
    {% endblock %}
    {% include "components/footer.njk" %}

    <!-- build:js -->
    <script type="text/javascript" src="/js/index.js"></script>
    <!-- endbuild -->

    {% block footer_scripts %}{% endblock %}
  </body>
</html>



