$font-sans: 'Source Sans Pro', sans-serif;

// colors
$white: #fff;
$grey: #f0f3f4;
$blue: #23C7CD;

// buttons
$site-button-color: #18b3c5;
$site-button-text-color: #fff;
$site-button-radius: 8px;

// text
$text-color: #1a1a1a;
$heading-color: $blue;
$base-font-size: 16px;
